In [1]:
import pandas as pd

iris = pd.read_csv("../../datasets/iris.csv")
print(type(iris))
df = iris.copy()
df.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']

<class 'pandas.core.frame.DataFrame'>

In [2]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### Remove a row
The argument given to the drop function is the label name not the index.

In [3]:
a = df.drop(0) # drop 0th row and returns a new modified array
a.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [4]:
df.drop(0, inplace=True) # now it will drop first row of 'df' dataframe
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [5]:
df.drop(3, inplace=True) # now it will drop first row of 'df' dataframe
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa

In [6]:
df.index

Int64Index([  1,   2,   4,   5,   6,   7,   8,   9,  10,  11,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=147)

### Remove by position

In [7]:
df.drop(df.index[0], inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa

Delete multiple rows - pass an array of indeces instead of an integer.

In [8]:
df.drop(df.index[[2, 4]], inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

***

In [9]:
df.sl > 5

2      False
4       True
6      False
8      False
9       True
       ...
144     True
145     True
146     True
147     True
148     True
Name: sl, Length: 144, dtype: bool

In [10]:
# It will give only the entrties for which the condition is true.
df[df.sl > 5]

      sl   sw   pl   pw     flower_type
4    5.4  3.9  1.7  0.4     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[117 rows x 5 columns]

In [11]:
df[df.flower_type == "Iris-setosa"].describe()

              sl         sw         pl         pw
count  44.000000  44.000000  44.000000  44.000000
mean    5.036364   3.438636   1.475000   0.247727
std     0.354434   0.390715   0.181883   0.113073
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.175000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.225000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

### Add a row

In [12]:
print(df.head())
print(df.iloc[0]) # by position
print(df.loc[8]) # by label

    sl   sw   pl   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa
sl                     4.6
sw                     3.1
pl                     1.5
pw                     0.2
flower_type    Iris-setosa
Name: 2, dtype: object
sl                     4.9
sw                     3.1
pl                     1.5
pw                     0.1
flower_type    Iris-setosa
Name: 8, dtype: object

In [13]:
# add a row
df.loc[0] = [1, 2, 3, 4, "Iris-setosa"]

In [14]:
df.tail()

      sl   sw   pl   pw     flower_type
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa

***

The problem with dropping columns is that it creates empty index (labels) in between..
Therefore, we can use reset_index function to reset the indeces.

In [15]:
df.reset_index()
# note that it creates a new column named 'index' with previous label name

     index   sl   sw   pl   pw     flower_type
0        2  4.6  3.1  1.5  0.2     Iris-setosa
1        4  5.4  3.9  1.7  0.4     Iris-setosa
2        6  5.0  3.4  1.5  0.2     Iris-setosa
3        8  4.9  3.1  1.5  0.1     Iris-setosa
4        9  5.4  3.7  1.5  0.2     Iris-setosa
..     ...  ...  ...  ...  ...             ...
140    145  6.3  2.5  5.0  1.9  Iris-virginica
141    146  6.5  3.0  5.2  2.0  Iris-virginica
142    147  6.2  3.4  5.4  2.3  Iris-virginica
143    148  5.9  3.0  5.1  1.8  Iris-virginica
144      0  1.0  2.0  3.0  4.0     Iris-setosa

[145 rows x 6 columns]

In [16]:
df.reset_index(drop=True)
# it doesn't create the new col when passing drop=True
# use inplace=True argument to make inplace hanges to df

      sl   sw   pl   pw     flower_type
0    4.6  3.1  1.5  0.2     Iris-setosa
1    5.4  3.9  1.7  0.4     Iris-setosa
2    5.0  3.4  1.5  0.2     Iris-setosa
3    4.9  3.1  1.5  0.1     Iris-setosa
4    5.4  3.7  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
140  6.3  2.5  5.0  1.9  Iris-virginica
141  6.5  3.0  5.2  2.0  Iris-virginica
142  6.2  3.4  5.4  2.3  Iris-virginica
143  5.9  3.0  5.1  1.8  Iris-virginica
144  1.0  2.0  3.0  4.0     Iris-setosa

[145 rows x 5 columns]

***

### Drop Column

In [17]:
df.drop('sl', axis=1, inplace=True)
# axis = 1, tells it to look columnwise

In [18]:
df.describe()

               sw          pl          pw
count  145.000000  145.000000  145.000000
mean     3.037931    3.851724    1.258621
std      0.444264    1.726674    0.783119
min      2.000000    1.000000    0.100000
25%      2.800000    1.600000    0.400000
50%      3.000000    4.400000    1.400000
75%      3.300000    5.100000    1.800000
max      4.400000    6.900000    4.000000

In [19]:
del df['sw']
# another method to delete columns

In [20]:
df.describe()

               pl          pw
count  145.000000  145.000000
mean     3.851724    1.258621
std      1.726674    0.783119
min      1.000000    0.100000
25%      1.600000    0.400000
50%      4.400000    1.400000
75%      5.100000    1.800000
max      6.900000    4.000000

***

In [21]:
df = iris.copy()
df.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

### Adding A column

In [22]:
df['diff_pl_pw'] = df['pl'] - df['pw']
df.tail()

      sl   sw   pl   pw     flower_type  diff_pl_pw
144  6.7  3.0  5.2  2.3  Iris-virginica         2.9
145  6.3  2.5  5.0  1.9  Iris-virginica         3.1
146  6.5  3.0  5.2  2.0  Iris-virginica         3.2
147  6.2  3.4  5.4  2.3  Iris-virginica         3.1
148  5.9  3.0  5.1  1.8  Iris-virginica         3.3