## Handling Strings in data

In [1]:
import pandas as pd, numpy as np

iris = pd.read_csv("../../datasets/iris.csv")
print(type(iris))
df = iris.copy()
df.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']

<class 'pandas.core.frame.DataFrame'>

In [2]:
df["diff_pl_pw"] = df["pl"] - df["pw"]
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  3.1  1.5  0.2  Iris-setosa         1.3
3  5.0  3.6  1.4  0.2  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3

In [4]:
df["Gender"] = "Female"
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw  Gender
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2  Female
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1  Female
2  4.6  3.1  1.5  0.2  Iris-setosa         1.3  Female
3  5.0  3.6  1.4  0.2  Iris-setosa         1.2  Female
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3  Female

In [7]:
df.iloc[0:10, 6] = "Male"
df

      sl   sw   pl   pw     flower_type  diff_pl_pw  Gender
0    4.9  3.0  1.4  0.2     Iris-setosa         1.2    Male
1    4.7  3.2  1.3  0.2     Iris-setosa         1.1    Male
2    4.6  3.1  1.5  0.2     Iris-setosa         1.3    Male
3    5.0  3.6  1.4  0.2     Iris-setosa         1.2    Male
4    5.4  3.9  1.7  0.4     Iris-setosa         1.3    Male
..   ...  ...  ...  ...             ...         ...     ...
144  6.7  3.0  5.2  2.3  Iris-virginica         2.9  Female
145  6.3  2.5  5.0  1.9  Iris-virginica         3.1  Female
146  6.5  3.0  5.2  2.0  Iris-virginica         3.2  Female
147  6.2  3.4  5.4  2.3  Iris-virginica         3.1  Female
148  5.9  3.0  5.1  1.8  Iris-virginica         3.3  Female

[149 rows x 7 columns]

In [8]:
def f(s):
    if s == "Male":
        return 0
    return 1

df['sex'] = df.Gender.apply(f)
df

      sl   sw   pl   pw     flower_type  diff_pl_pw  Gender  sex
0    4.9  3.0  1.4  0.2     Iris-setosa         1.2    Male    0
1    4.7  3.2  1.3  0.2     Iris-setosa         1.1    Male    0
2    4.6  3.1  1.5  0.2     Iris-setosa         1.3    Male    0
3    5.0  3.6  1.4  0.2     Iris-setosa         1.2    Male    0
4    5.4  3.9  1.7  0.4     Iris-setosa         1.3    Male    0
..   ...  ...  ...  ...             ...         ...     ...  ...
144  6.7  3.0  5.2  2.3  Iris-virginica         2.9  Female    1
145  6.3  2.5  5.0  1.9  Iris-virginica         3.1  Female    1
146  6.5  3.0  5.2  2.0  Iris-virginica         3.2  Female    1
147  6.2  3.4  5.4  2.3  Iris-virginica         3.1  Female    1
148  5.9  3.0  5.1  1.8  Iris-virginica         3.3  Female    1

[149 rows x 8 columns]

In [9]:
del df["Gender"]
df.head()

AttributeError: Gender